:root {
    --Playfair : 'Playfair Display',serif;
    --Quicksand: 'Quicksand',sans-serif;
    --Roboto: 'Roboto',sans-serif;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top:6rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 7%; 
}

.header{
    position: fixed;
    top:0; left:0;right: 0;
    z-index:1000;
    background: #00000096;
    box-shadow:var(--box-shadow);
    display:flex;
    align-items: center;
    padding: 1.2rem 7%;
    
}

.header .logo{
    color:#e67e22;
    font-size: 2.5rem;
    margin-right: auto;
}

.header .logo span{
    color:var(--orange);
}

.header .navbar a{
    color:aqua;
    font-size: 1.7rem;
    text-transform: capitalize;
    padding-right: 42px;
    float:right;
    margin-right: 2rem;

}

.header .navbar a:hover{
    color:var(--orange);
}

.header .icons i{
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    color:var(--black);
    background: #333;
    border-radius: 20%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer;

}

.header .icons i:hover{
    color:#e67e22;
    background: var(--orange);
}



.blog-container h1{
    font-size: 5rem;
    font-weight: 3rem;
    text-align: center;
    position: absolute;
    padding-top: 30px;
}

.blog-container .blog-img{
padding:9rem;
padding-top: 12rem;
padding-left: 0.7rem;
width:65%; 
}
section .blog.container{
    padding:0 10px;
    padding-left: 30px;
}

.blog-container p1{
     font-size: 20px;
     text-decoration: none;
     text-align: justify;
}
.blog-container p2{
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
}

.blog-container p3 {
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
}

.blog-container p4{
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
}

.comment-box{
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

.comment-box h2{
    background:#fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem auto;
    max-width:70rem;
    padding:2rem;
    color:blue;
    font-size: 2.3rem;
}

.comment-box{
    top:50%;
    left:50%;
    width:500px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 30px;
}
.comment-box input{
    width:100%;
    height:30px;
    background:#000;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10px;
    font-size: 2.1rem;
    border-radius: 20px;
    color:blue;
}

.comment-box .inputBox input,
.comment-box textarea{
    width:100%;
    background:#00000096;
    padding:.5rem;
    margin:.10rem 0;
    border-radius: 20px;
    color:aqua;
    font-size: 1.7rem;
    height: 15rem;
}
.inputBox input{
    width:49%;
}

.comment-box button{
    border-radius: 20px;
    font-size:1.9rem;
    color:blue;
    background :blueviolet;
}
.like_btn {
    padding:10px 15px;
    background:tomato;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 60px;
}


/*media section*/

@media only screen and (max-width:600px){
    .blog-container h1{
        font-size: 1em;
    }

    .blog-container p1{
        font-size: 1.5rem;
    }
    .blog-container p2{
        font-size:1.5rem ;
    }
}

@media only screen and (max-width:400px){
    .blog-container h1{
        font-size: 12rem;
    }

    .blog-container p1{
        font-size: 1.5rem;
    }
    .blog-container p2{
        font-size:1.5rem ;
    }
    .blog-container p3{
        font-size: 1.5rem;
    }
    .blog-container p4{
        font-size:1.5rem ;
    }
}

@media only screen and (max-width:150px){
    .blog-container h1{
        font-size: 20px;
    }

    .blog-container p1{
        font-size: 1.5rem;
    }
    .blog-container p2{
        font-size:1.5rem ;
    }
    .blog-container p3{
        font-size: 1.5rem;
    }
    .blog-container p4{
        font-size:1.5rem ;
    }
}